.box-add-cart{
    display: block;
    width: 100%;
    .box-cart{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 28px 20px;
        border-radius: 8px;
        background-color: #F4F4F6;
        margin-right: 12px;
        margin-bottom: 20px;
        .amount-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;            
            svg{
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                margin-bottom: 12px;
            }
            h2{
                display: block;
                height: 36px;
                color: #2A2352;
                text-align: center;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;            
            }
        }
        .add-amount{
            display: flex;
            margin-bottom: 24px;
            .btn{
                display: block;
                width: 43px;
                height: 43px;
                padding: 0;
            }
            input[type="text"]{
                display: block;
                width: 60px;
                height: 43px;
                border-radius: 8px;
                border: 1px solid #2A2352;
                margin: 0 3px;
                text-align: center;
                padding: 2px;
                background-color: #F4F4F6;
            }
        }
        .price-box{
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-top: 1px solid #BDBACA;
            padding: 10px 0 0 0;
            span{
                display: block;
                color: #2A2352;
                font-size: 1.7rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;                
            }
        }
    }
    .box-cart:last-child{
        margin-right: 0;
    }
}




@include media-breakpoint-up(md) {
    .box-add-cart{
        display: flex;
        .box-cart{
            width: 33.33%;
            margin-bottom: 0;
        }
    }
}
// 768px