// Hidden display element
.hidden-element{
    display: none !important;
}

main{
    padding-top: 100px;
    h1{
        font-size: 3.5rem;
        line-height: 100%;
        color: #2a2352;
        margin-bottom: 20px;
    }
    p{
        color: #2A2352;
        font-family: $font-default;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: normal;
        line-height: 133%;
        letter-spacing: 1px;
        margin-bottom: 35px;
    }
    form{
        display: block;
    }
    .checkout_content .row > *{
        margin-top: 17px;
    }
    .checkout_mesage{
        img{
            width: 66px;
            margin-bottom: 30px;
        }
        h2{
            text-align: center;
            font-size: 3rem;
        }
        p{
            text-align: center;
            margin-bottom: 20px;
            font-size: 2.0rem;
            font-style: normal;
            font-weight: normal;
            line-height: 133%;
            letter-spacing: 0;
        }
    }
    .checkout_mesage_pending{
        svg{
            margin-bottom: 5px;
            width: 65px;
        }
        h2{
            font-size: 3rem;
            margin-bottom: 35px;
        }
        p{
            margin-bottom: 20px;
            font-size: 2.0rem;
            font-style: normal;
            font-weight: normal;
            line-height: 133%;
            letter-spacing: 0;            
        }
        ol{
            margin-left: 5px;
            li{
                margin-bottom: 20px;
                font-size: 2.0rem;
                font-style: normal;
                font-weight: normal;
                line-height: 133%;
                letter-spacing: 0;                  
            }
        }
    }
}


@include media-breakpoint-up(sm) {
    main{
        .checkout_mesage_pending{
            svg{
                margin-bottom: 20px;
                width: 85px;
            }
        }        
    }
}
// 576px


@include media-breakpoint-up(xl) {
    main{
        padding-top: 0;
        .container{
            max-width: 1080px;
            padding-right: 0;
            padding-left: 0;           
        }        
        h1{
            font-size: 4.0rem;
            line-height: 110%;
            margin-bottom: 15px;            
        }
        p{
            margin-bottom: 40px;
            font-size: 1.4rem;
            font-weight: 700;
        }
        .checkout_content .row > *{
            margin-top: 10px;
        }        
        .checkout_mesage{
            h2{
                font-size: 4.5rem;
            }
            p{
                width: 30%;
            }
        }
        .checkout_mesage_pending{
            h2{
                font-size: 4.5rem;
            }            
        }                  
    }
}
// 1200px


@media (min-width: 1366px) {
    main{
        .container{
            max-width: 1280px;
            padding-right: 0;
            padding-left: 0;
        }
    }    
}
//1366px


@include media-breakpoint-up(xxl) {
    main{
        p{
            margin-bottom: 40px;
            font-size: 1.6rem;
        }
        .checkout_content .row > *{
            margin-top: 17px;
        }             
    } 
}
// 1400px


@media (min-width: 1600px) {
    main{
        .container{
            max-width: 1580px;
            padding-right: initial;
            padding-left: initial;
        }
    }   
}
//1600px
