.checkout_resume{
    height: auto;
    border-radius: 30px 0px 0px 30px;
    background: #F4F4F6;
    padding: 24px 30px;
    margin-bottom: 30px;
    &::after{
        content: "";
        position: absolute;
        display: block;
        width: 100vw;
        height: 100%;
        top: 0px;
        right: -100vw;
        background-color: #F4F4F6;
    }
    h3{
        color: #2A2352;
        font-size: 1.6rem;
        font-style: normal;
        line-height: 133.333%;
        letter-spacing: 1px;
        margin-bottom: 6px;
    }
    h2{
        color: #2A2352;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        margin-bottom: 0;
        a{
            text-decoration: none;
            transition: all .2s ease-in-out;
            &:hover{
                @include link-hover(#2a2352, 2.4rem, 1px, -2px, #2a2352, #2a2352);
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 900;
                line-height: 120%;
                opacity: 0.8;           
            }
        }
    }
    .box-plan{
        .change-plan{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 26px;
            min-height: 26px;
            margin-left: 10px;
            border-radius: 8px;
            border: 1px solid #2A2352;
            svg{
                width: 100%;
                &:hover{
                    path{
                        fill: #fff;
                    }
                }
            }
            &:hover{
                background-color: $purple;
                transition: all .2s ease-in-out;
            }
        }
        .bto-plan-circle{
            border-radius: 50px;
        }
    }
    .box-adicionais{
        padding: 15px 0 5px;
        border-bottom: 1px solid #BDBACA;
        p{
            color: #4D4D4D;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: 144%;
            letter-spacing: 0.3px;
            margin: 6px 0 13px;         
        }
    }
    .box-opcoes{
        padding: 19px 0;
        span{
            color: #2A2352;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
    .box-recorrencia{
        span{
            display: block;
            padding: 5px 8px;
            background: #80C342;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: #1D1D1B;
            text-align: center;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            margin: 1px 0 0 0;
        }
        .box-radios{
            display: flex;
            justify-content: flex-end;
            // estilizando o input radio
            input[name="recorrencia"]{
                display: none;
            }
            input[name="recorrencia"]+label {
                width: 50%;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                user-select: none;
                font-size: 1.3rem;
                font-weight: bold;
                letter-spacing: 0.6px;
            }
            input[name="recorrencia"]+label {
                transition: all 200ms cubic-bezier(.4,.25,.3,1);
                padding: 13px 0;
                color: #1D1D1B;
                background: #EDEAF9;
                &:hover {
                    opacity: .65;
                }
            }
            input[name="recorrencia"]+label:active {
                transition: none;
                transform: scale(.925);
            }
            input[name="recorrencia"]:checked+label,
            input[name="recorrencia"]:checked+label:hover {
                background: #6C5AD1;
                color: #fff;
                opacity: 1;
            }
            .check-left{
                border-radius: 6.008px 0 0 6.008px;
            }
            .check-right{
                border-radius: 0 6.008px 6.008px 0;
            }                   
        }
    }
    .box-cupom{
        padding: 19px 0;
        border-bottom: 1px solid #BDBACA;
        .coupon-input-container{
            display: flex;
        }
        P{
            margin: 0;
        }
        span{
            color: #2A2352;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 10px;
        }
        input[type="text"]{
            border: 1px solid #2A2352;
            color: #2A2352;
            padding: 8px 16px;
            height: auto;
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            border-radius: 4px;
            margin-right: 6px;
            background-color: transparent;
            text-align: center;
        }
        input[type="text"]:focus{
            background-color: #fff;
            outline: none;
        }
        .coupon_submit {
                background: transparent;
                border: none;
                border-radius: 4px;
                display: block;
                width: 65px;
                font-family: $font-default_bold;
                font-size: 1.2rem;
                font-style: normal;
                line-height: 1.4rem;                
                color: $text-color;
                transition: all 0.2s ease-in-out;
                padding: 4px 10px;
            &:hover{
                color: $text-color;
                background-color: #EDEAF9;
            }
        }
    }
    .box-total{
        padding: 30px 0 15px 0;
        .installment-up-to{
            font-family: $font-default;
            font-size: 1.8rem;
            margin-right: 7px;
        }
        h2{
            font-size: 1.8rem;
            span{
                font-size: 2.7rem;
            }
        }
        h3{
            font-family: $font-default;
            font-size: 1.6rem;
            margin-top: 3px;
        }
    }
    .box-seguranca{
        margin-bottom: 20px;
        svg{
            margin-right: 8px;
        }
        span{
            color: #2A2352;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: 1px;
        }
    }
    .plan-description{
        p{
            font-size: 1.2rem;
            font-weight: normal;
            margin-bottom: 0.8rem;
        }
    }
    .total-amount{
        border-top: 1px solid #bdbaca;
        padding: 18px 0 10px;
        margin-top: 40px;
        .credits-type, .total-credits{
            display: flex;
            flex-direction: column;
            span{
                color: #2A2352;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 400;
                line-height: 133.333%;
                margin-bottom: 3px;
            }
        }

    }
    .amount-description{
        border-top: 1px solid #bdbaca;
        padding: 20px 0 0 0;
        span{
            display: block;
            margin-right: 12px;
            svg{
                width: 18px; 
                height: 18px;
                max-width: none;
                max-height: none;
            }
        }
        p{
            font-size: 1.3rem;
            font-weight: normal;
            margin-bottom: 0.8rem;
        }
    }
    .content-resume{
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        padding: 5px;
    }      
    .fade-text{
        display: none;
    }   
}


@include media-breakpoint-up(lg) {
    .checkout_resume{
        height: 100vh;
        border-radius: 30px 0px 0px 30px;
        padding: 0 10px 0 15px;
        margin-bottom: 0;
        .box-opcoes{
            padding: 19px 0;
            span{
                margin-bottom: 0;
            }
        }
        .box-recorrencia{
            .box-radios{
                input[name="recorrencia"]+label {
                    width: 120px;
                }
            }
        }
        .box-cupom{
            span{
                margin-bottom: 0;
            }
        }
        .box-total{
            h2{
                font-size: 2rem;
                span{
                    font-size: 3.0rem;
                }
            }
        }        
        .content-resume{
            overflow-y: auto;
            padding: 20px 20px 80px 20px;
        }
        .fade-text{
            display: block;
            bottom: 0;
            height: 100px;
            background: linear-gradient(179deg, rgba(255, 255, 255, 0.04) 10%, #f4f4f6 100%);
            border-radius: 0 0 0 80px;
            position: absolute;
            width: 100%;
            height: 120px;
            left: 0;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .checkout_resume{
        height: calc(90vh - 107px);
        border-radius: 80px 0px 0px 80px;
        padding: 0 10px 0 60px;
        .content-resume{
            padding: 60px 40px 80px 20px;
        }        
    }
}
// 1400px