// Lato
@font-face {
  font-family: 'Lato Black';
  src: url('../fonts/lato-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Mulish
@font-face {
  font-family: 'Mulish Regular';
  src: url('../fonts/mulish-v10-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mulish Bold';
  src: url('../fonts/mulish-v10-latin-700.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}





// Fontes antigas
// Fonte Circular Std 900
// @font-face {
//   font-family: 'Circular Std Black';
//   src: url('../fonts/CircularStd-Black.woff2') format('woff2'),
//     url('../fonts/CircularStd-Black.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }
// // Fonte Circular Std 500
// @font-face {
//   font-family: 'Circular Std Medium';
//   src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
//     url('../fonts/CircularStd-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }


