// Define variáveis de fonte padrão
// $font-default: 'Circular Std Medium', serif;
// $font-titles: 'Circular Std Black', serif;

$font-default: 'Mulish Regular', serif;
$font-default_bold: 'Mulish Bold', serif;
$font-titles: 'Lato Black', serif;
$font-titles_regular: 'Lato Bold', serif;

// $grid-gutter-width: 30px;

// Cores
$primary: #ffffff;
$dark: #2A2352;
$text-color: #2A2352;
$text-default: #1D1D1B;
$dark-ligth: #373F41;
$dark-ultra-ligth: #b4c6cb;
$dark-alpha: rgba(0, 0, 0, 0.5);
$dark-footer: #1C1F24;

$black: #000000;
$white: #ffffff;

$button-action: #53C351;
$button-action_hover: #678D6D;
$button-text-white: #5a5a5a;


$purple: #5540C9;
$green: #7ABD20;
$red: #B30000;
$red-gray: #353535;
$yellow: #FBBB16;
$gray: #F9FAFA;

$default-color: #B30000;
$default-color-hover: #707070;

$gray-light: #f4f4f6;

// Neutrals colors
$neutra-1: #313131;
$neutra-2: #7C7C7C;
$neutra-3: #B1B1B1;
$neutra-4: #E8E8E8;
$neutra-5: #F7F8FA;


$enable-shadows: 1;
// Customizando o modal
// $modal-backdrop-bg: $primary;
// $modal-backdrop-opacity: 1;
